.add-category{position:absolute;top:60%;width:100% ;}
.add-photo-txt{margin-left:10px;font-family:Roboto;font-size:25px;color:black}
.photo-add{border-top:1px solid gray;padding:5px}
.tag-icon{color:blue}
.feeling-icon{color:gold}
.location-icon{color:red}
.live-icon{color:#D50032}
.backgrpound-icon{color:teal}
.Camera-icon{color:blue}
.gif-icon{color:teal}
.flag-icon{color:skyblue}
.music-icon{color:orange}