.MessageHeader{font-weight:bolder;background:#1877F2;color:white}
.message-profile{height:30px;width:30px;border-radius:50%}
.message-boxes{margin-top:10px}
.marginboxstyle{border:1px solid gray;padding:10px 5px;background:whitesmoke}